html,
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: lightcyan;
  max-width: 100%;
  overflow-x: hidden;
}
.container{
  margin: 80px auto 0 auto;
  max-width: 1200px;
  overflow-y: hidden;
}
.nav-container {
  margin: auto;
}
a{
  text-decoration: none;
}
.camara{
  width: 100%;
  height: 57vh;
  position: relative;
}

#interactive.viewport {
  width: 100%;
  position: absolute;
}

#interactive.viewport canvas,
video {
  width: 100%;
  position: absolute;
}

#interactive.viewport canvas.drawingBuffer,
video.drawingBuffer {
  width: 100%;
  position: absolute;
}